{% extends 'auth/main/main.html' %}
{% load i18n static %}
{% block content %}
    <section class="sign-in-page">
        <div class="container p-0" id="sign-in-page-box">

            <div class="bg-white form-container sign-in-container">
                <div class="sign-in-page-data">
                    <div class="sign-in-from w-100 m-auto">
                        <h1 class="mb-3 text-center">{% translate "Sign in" %}</h1>
                        <p class="text-center text-dark">{% translate "Enter your username and password to access WAFControl." %}</p>

                        <form method="post" action="{% url 'wafinstaller:login' %}" class="mt-4">
                            {% csrf_token %}

                            {% if form.non_field_errors %}
                                <div class="alert alert-danger">
                                    {{ form.non_field_errors }}
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <label for="{{ form.username.id_for_label }}">{% translate "Username" %}</label>
                                {{ form.username }}
                                {% if form.username.errors %}
                                    <div class="text-danger">{{ form.username.errors }}</div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label for="{{ form.password.id_for_label }}">{% translate "Password" %}</label>
                                {{ form.password }}
                                {% if form.password.errors %}
                                    <div class="text-danger">{{ form.password.errors }}</div>
                                {% endif %}
                            </div>

                            <div class="d-inline-block w-100">
                                <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2"
                                           name="remember">
                                </div>
                            </div>

                            <div class="sign-info">
                                <button type="submit" class="btn btn-primary mb-2">{% translate "Sign in" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <a class="sign-in-logo mb-5" href="#">
                            <img src="{% static 'dashboard/images/logo.png' %}" class="img-fluid" alt="logo">
                        </a>
                        <p>{% translate "Sign in with your personal account to access the administration panel." %}</p>
                        <button class="btn iq-border-primary mt-2" id="signIn">{% translate "Sign in" %}</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <a class="sign-in-logo mb-5" href="#">
                            <img src="{% static 'dashboard/images/logo.png' %}" class="img-fluid" alt="logo">
                        </a>
                        <h3 style="color: #00d0ff">Owasp WafControl</h3>
                        <br>
                        <p>{% translate "This project uses the OWASP Core Rule Set. Thanks to the CRS maintainers." %}</p>

                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

{% block js %}
{% endblock %}
